/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

#root {
  min-height: 100vh;
  background-color: #e4e4e4;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2em 0;
  overflow-y: auto;
}

.app {
  background-color: #fff;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h3 {
  text-align: center;
  margin-bottom: 1em;
}

.add {
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.add input, .add select {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.add button {
  padding: 0.5em 1em;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.add button:hover {
  background-color: #0056b3;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.item {
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.item.pending {
  background-color: #e8860f;
}

.item.progress {
  background-color: #dd1c49;
}

.item.completed {
  background-color: #28a745;
}

.item h4 {
  margin: 0;
  font-size: 1.2em;
}

.item p {
  margin: 0.2em 0;
}

.item button {
  padding: 0.5em 1em;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  flex: 1
}

.item button:hover {
  background-color: #0056b3;
}

.item button + button {
  margin-left: 0.5em;
}

@media (prefers-color-scheme: light) {
  #root {
    background-color: #ffffff;
  }
  .app {
    background-color: #f0f0f0;
  }
  .item {
    background-color: #ffffff;
  }
}